defaults:
  - attacks: attacks
  - datasets: datasets
  - models: models
  # - paths
  # - override hydra/launcher: mila_generic
  - _self_

hydra:
  # mode: MULTIRUN
  sweeper:
    params:
      datasets.rf_test.idx: "range(0,160,step=10)"
  run:
    dir: ${root_dir}/multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}/
  job:
    chdir: true
  sweep:
    dir: ${root_dir}/multirun/${now:%Y-%m-%d}/${now:%H-%M-%S}/

attacks:
  gcg:
    num_steps: 300

datasets:
  rf_test:
    batch: 10
    path: ${oc.env:HOME}/harmful-harmless-eval/

_gcg_models: 
  - ${models.${model_name}.id}
  - ${models.${model_name}.tokenizer_id}

_pair_models: 
  - ${models.${model_name}.id} 
  - ${models.${model_name}.tokenizer_id} 
  - lmsys/vicuna-13b-v1.5
  - cais/HarmBench-Llama-2-13b-cls

# automatically select models based on attack_name
slurm_copy_hf_cache:
  models: ${oc.select:_${attack_name}_models,${_gcg_models}}

name: ${model_name}
root_dir: ${oc.env:PWD}
save_dir: ${root_dir}/outputs/rf_test/v2
log_file_path: ${save_dir}/${name}/${attack_name}/run-${datasets.rf_test.idx}__${now:%H-%M-%S}.json 

log_toks_strs: True
hf_offline_mode: True

# overrides for parallelism
attack_name: gcg # pair
dataset_name: rf_test # adv_behaviors
model_name: redflag-tokens/llama3-2-rf-v2

wandb: null